cluster_name                = "sep"
keypair_name                = "september-key"
instance_type_master        = "t3.small"
instance_type               = "t3.medium"
control_plane_instance_name = "master"
worker_name                 = "worker"
region                      = "ap-southeast-1"
number_of_workers           = "3"
include_policy_ebs_csi_driver      = true
include                     = ["ebs-csi-driver"]
# docker, cri-docker: config kubernetes cluster with docker (> v1.24). without this tag, containerd will be used
# etcd              : etcd client to communicate with etcd
# helm              : include helm
# ebs-csi-driver    : ebs-csi-driver installed after cluster is created
# argocd            : argocd installed after cluster is created
